<!DOCTYPE html>
<html>
  <head>
    <title>forgetpass</title>
    <link rel='stylesheet' href='style.css' />
  </head>
  <body>
  <form action="updata" method="post">
      <label class="lab1" for="PassWord">当前密码:</label>
      <input type="text" id="PassWord" name="PassWord" placeholder="请输入当前密码">
    <br>
      <label class="lab2" for="newPassWord">新密码&nbsp&nbsp&nbsp:</label>
      <input type="text" id="newPassWord" name="newPassWord" placeholder="请输入新密码">
    <br>
      <label class="lab3" for="affirm">确认密码:</label>
      <input type="text" id="affirm" name="affirm" placeholder="确认密码">
    <button id="btn" type="submit">保存</button>
  </form>
  </body>
</html>
