<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
<form action="loginSuccess" method="post">
  <input class="phone" id="userName" name="userName" type="text" placeholder="请输入已验证手机邮箱">
  <br>
  <input class="password" id="passWord" name="passWord" type="password" placeholder="请输入密码">
  <p><a href="./forgetpass">忘记密码?</a></p>
  <button type="submit" class="btn">登&nbsp&nbsp录</button>
</form>
</body>
</html>

