*{
    padding: 0;
    margin: 0;
}

form{
    position:absolute;
    left:40%;
    top:20%;
    border: 1px solid #999999;
    width: 400px;
    height: 320px;
    border-radius: 10px;
    background-color: #00B7FF;

}
.phone{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    border: 1px solid #1caaed;
    text-align: center;
    font-size: 12px;
    margin: 10px;
    outline: none;
    position: absolute;
    left: 10%;
    top:15%;
}
.password{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    border: 1px solid #1caaed;
    text-align: center;
    font-size: 12px;
    margin: 10px;
    outline: none;
    position: absolute;
    left: 10%;
    top:40%;
}
form p{
    text-align: right;
}
form p a{
    margin-right: 15px;
    text-decoration: none;
    position: absolute;
    left: 70%;
    top:60%;
    color: #d7d7d7;
    font-size: 12px;
}

form p a:hover{
    color: red;
}
.btn{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin: 10px;
    background-color: green;
    position: absolute;
    left: 10%;
    top:65%;
}
.btn{
    text-decoration: none;
    color: white;
}

.btn:hover{
    color: red;
}
