body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form{
  background-color: #19d1ff;
  position: absolute;
  left: 40%;
  top:30%;
  width: 400px;
  height: 350px;
  border: 1px solid #999999;
  border-radius: 10px;
}
.lab1{
  position: absolute;
  left: 12%;
  top: 23%;
  color: white;
}
#PassWord{
  border-radius: 10px;
  position: absolute;
  left: 36%;
  top: 20%;
  width: 200px;
  height: 30px;
  text-align: center;
  outline: none;
}
.lab2{
  position: absolute;
  left: 12%;
  top: 39%;
  color: white;
}
#newPassWord{
  border-radius: 10px;
  position: absolute;
  left: 36%;
  top: 35%;
  width: 200px;
  height: 30px;
  text-align: center;
  outline: none;
}
.lab3{
  position: absolute;
  left: 12%;
  top: 55%;
  color: white;
}
#affirm{
  border-radius: 10px;
  position: absolute;
  left: 36%;
  top: 52%;
  width: 200px;
  height: 30px;
  text-align: center;
  outline: none;
}

#btn{
  width: 100px;
  height: 40px;
  position: absolute;
  left: 37%;
  top: 68%;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #238423;
}

